body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #008b13;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background: #00520b;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
}

.photo {
    width: 200px;
    display: block;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    background: #008b13;
    color: white;
    text-align: center;
    padding: 10px;
}
